
<app-menu> </app-menu>

<div fxLayout="column" fxLayoutAlign="space-around center" id="main">
    <br><br><br>
    <br><br><br>
    <div>
        <p id="titr">Lorem ipsum</p> <br>
        <p id="text2">  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>

    </div>
<br><br><br><br>
    <div>
        <div fxLayout="row" fxLayoutAlign="space-around" class="middle">

            <div>
                <img src="/assets/images/Image3@1x.png" alt="">
                <br><br>
                Lorem ipsum
                <br>
                15% - 20%
            </div>
            <div fxFlexOffset="40">
                <img src="/assets/images/Image4@1x.png" alt="">
                <br><br>
                Lorem ipsum                <br>
                $ 300,000
            </div>
        </div>
    </div>

    <br><br><br>


    <div>
        <a href="/#/login" class="button"> <b> ADD YOUR PROJECT NOW! </b></a>

    </div>
    <br><br>
    <br><br>


</div>

<app-footer></app-footer>